
.label{
  
   background-color:#68CDD5FF 
   
}
.tag{
   position:absolute;
   top:20px;
   margin-left: 20px;
}
.logo3{
   margin-top: 15%;
   text-align:center;
   
   
}
.logo1{
   float: left;
   margin:0 20%;

}
.logo2{
   float: right;
   margin: 0 20%;
}
.counter{
   margin:15%;
   text-align: center;
   color:#FFFFFFFF;
   
   
}
.figure1{
   color:#FFFFFFFF;
   float: left;
   margin: 2% 20%;
}
.figure2{
   color:#FFFFFFFF;
   float: right;
   margin: 2% 20% ;
}