





































.label {
    width: 100%;
    padding: 27px 0;
}

.label .vocation {
    color: rgba(41, 176, 120, 1);
}

.tag {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid rgba(208, 214, 217, 1);
    border-bottom: 1px solid rgba(208, 214, 217, 1);
}

.tag .direction {
    color: rgba(153, 153, 153, 1);
}

.tag .open {
    margin: 0 1vw;
    color: black;
    text-decoration: none;
}

.open:hover {
    color: #fff;
    background-color: rgba(41, 176, 120, 1);
}

.out {
    width: 100%;
    padding: 28px 0;
    font-size: 22px;
    border-bottom: 1px solid rgba(208, 214, 217, 1);
}




.tally {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tally .mark {
    padding: 0;
    width: 261px;
    background-color: rgba(255, 255, 255, 1);
}

.tally .mark .belle {
    margin: 5px 12px;
    width: 72px;
    float: left;
}

.tally .mark .engineer {
    margin: 10px 0;
}

.tally .mark .referral {
    width: 254px;
    font-size: 13px;
}

.its {
    display: flex;
    justify-content: left;
    border: 1px solid rgba(237, 241, 242, 1);
}

.its .going {
    padding-right: 64px;
    border-right: 1px solid rgba(237, 241, 242, 1);
}

.its .star {
    margin-left: 5px;
}

.its .look {
    padding-right: 32px;
    border-right: 1px solid rgba(237, 241, 242, 1);
}

.spot {
    margin-left: 5px;
    font-size: 11px;
    color: rgba(153, 153, 153, 1);
}

.tiny {
    font-size: 11px;
    color: rgba(240, 20, 0, 1);
}

.its .and {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 136px;
    border-right: 1px solid rgba(237, 241, 242, 1);
}

.its .night {
    width: 160px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(237, 241, 242, 1);
}

.want {
    font-size: 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: 600;

}


.mark:hover .rotation {

    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: rotateY(360deg);

}


.rotation {
    position: absolute;
    /* display:none; */
    /* visibility: hidden; */
    opacity: 0;

    transition: 1s;

    width: 260px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.rotation .gown {
    text-align: center;
    margin: 9px 0;
}

.rotation .within {
    font-size: 14px;
    padding: 0 39px;
}




.come {
    font-size: 10px;
    color: rgba(153, 153, 153, 1);
    border: 1px solid rgba(237, 241, 242, 1);

}






































